.overlay-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
}

.overlay-header img {
    padding: 10px 0 5px 10px;
}

.add-task-content {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px 64px 24px;
    overflow: hidden;
}

.add-task-formHTML {
    height: calc(100vh - 100px);
    width: 430px;
    position: relative;
    padding: 0 16px 8px 0;
    overflow: auto;
}

.add-task-formHTML::-webkit-scrollbar {
    width: 5px;
}

.add-task-formHTML::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.add-task-formHTML::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 4px;
}

.add-task-formHTML::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.add-task-formHTML h4 {
    margin: 0 0 8px;
    font-size: var(--font-size-large);
    color: #42526E;
}

.add-task-bottom {
    position: fixed;
    bottom: 56px;
    left: 750px;
    display: flex;
    gap: 20px;
}

.clear-button,
.addTask-button {
    height: 60px;
}

.leftcontainer {
    overflow: hidden;
    width: 422px;
    padding-top: 20px;
}

.right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    right: 0;
    bottom: 0;
}

.subtasks {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 24px;
}

.subtasks-trash {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

.display-flex-in-addtask {
    display: flex;
}

@media (max-width: 1140px) {
    .add-task-bottom {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .add-task-content {
        align-items: center;
    }

    .add-task-formHTML {
        width: 100%;
    }

    .add-task-bottom {
        width: 100%;
        position: initial;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .overlay-header {
        display: flex;
        align-items: center;
    }

    .add-task-bottom {
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        margin: 0;
        padding-right: 32px;
    }
}

@media (max-width: 576px) {
    .add-task-content {
        padding: 64px 32px 24px;
    }
}

@media (max-width: 456px) {
    .add-task-formHTML {
        font-size: var(--font-size-regular);
    }

    .add-task-bottom {
        gap: 8px;
        padding-right: 16px;
    }

    .clear-button {
        display: none;
    }

    .addTask-button {
        height: 50px;
    }
}