/* Style for the Mainboard  */
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px 64px 24px;
    overflow: hidden;
}

h1 {
    font-weight: 700;
    font-size: 61px;
}

h3 {
    margin: 0;
    font-size: 23px;
    color: #42526E;
}

.search-bar {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.search {
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 16px;
    border: var(--border);
    border-radius: 10px;
}

.search input {
    margin-right: 8px;
    padding: 8px 0;
    font-size: var(--font-size-regular);
    border: none;
    border-right: var(--border);
}

.search input:focus {
    outline: none;
}

.kanban-board {
    height: calc(100vh - 304px);
    width: 100%;
    display: flex;
    column-gap: 10px;
    margin: 64px 0 0;
    padding: 0 5px;
    overflow: auto;
}

.kanban-board::-webkit-scrollbar,
.add-task-container::-webkit-scrollbar {
    width: 5px;
}

.kanban-board::-webkit-scrollbar-track,
.add-task-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.kanban-board::-webkit-scrollbar-thumb,
.add-task-container::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 4px;
}

.kanban-board::-webkit-scrollbar-thumb:hover,
.add-task-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.drag-area-Container {
    width: 25%;
    position: relative;
}

.drag-area {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.drag-area-top-Section {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 0 8px;
    z-index: 5;
}

.plusButton {
    width: 30px;
    height: 30px;
}

.drag-area-top-Section img:hover {
    cursor: pointer;
}

.drag-template {
    min-height: 200px;
    width: 100%;
    border-radius: 24px;
    order: 1;
}

.drag-template-start {
    border: 2px dashed rgba(0, 0, 0, 0.5);
}

/* Style for the Task-Cards  */
.todo {
    position: relative;
    margin: 0 6px;
    padding: 16px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 24px;
}

.todo h4 {
    margin: 0 0 8px;
    color: var(--color-blue-main);
}


.todo:hover {
    cursor: grab;
}

.orangeCategory,
.redCategory,
.purpleCategory,
.mintCategory,
.greenCategory,
.blueCategory,
.lightblueCategory {
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: var(--font-size-regular);
    color: white;
    border: none;
    border-radius: 8px;
}

.orangeCategory {
    background-color: #FF8A00;
}

.redCategory {
    background-color: #FF0000;
}

.purpleCategory {
    background-color: #E200BE;
}

.mintCategory {
    background-color: #1FD7C1;
}

.greenCategory {
    background-color: #2AD300;
}

.blueCategory {
    background-color: #0038FF;
}

.lightblueCategory {
    background-color: #8AA4FF;
}

.text {
    margin-bottom: 16px;
    color: #A8A8A8;
}

.task-progress {
    display: flex;
    align-items: center;
    font-size: 12px;
    column-gap: 10px;
}

.progress-bar {
    width: 100%;
    max-width: 160px;
    height: 8px;
    background: #F4F4F4;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.progress-bar-fill {
    transition: all ease-in 225ms;
    background-color: #4589ff;
    height: 8px;
    width: 0%;
}

.progress-bar-text {
    margin-bottom: 16px;
    color: #42526E;
}

.user-priority {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-in-task {
    display: flex;
}

.user {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -16px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    color: white;
}

.task-menu {
    min-width: 200px;
    background-color: var(--color-blue-main);
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 16px;
    border-radius: 20px 0 20px 20px;
    color: white;
    z-index: 95;
}

.task-menu-close {
    position: absolute;
    top: 16px;
    right: 8px
}

.task-menu-close img {
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.task-menu-edit {
    padding: 0 0 16px 0;
    border-bottom: 1px solid white;
}

.task-menu-move {
    margin: 8px 0 0 0;
    font-weight: bold;
}

.task-menu-move-entry {
    margin: 8px 0;
    padding: 8px 0;
}

/* Style for the onclick Add Task Mask */
.add-task-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.add-task-container {
    width: 518px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 72px 32px 32px;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    overflow-y: scroll;
}

.close-cross {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
}

.add-task-container form {
    margin-right: 24px;
}

.add-task-headline {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
}

.add-task-headline h2 {
    margin: 0;
    font-size: 48px;
}

.input-container,
.selector-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px 24px;
    border-bottom: var(--border);
    font-size: 20px;
}

.selector-header {
    justify-content: space-between;
    cursor: pointer;
}

.inputfield-new-category {
    width: 100%;
    display: flex;
    padding: 16px 24px;
    border-bottom: 1px solid #D1D1D1;
}

.input-container input,
.inputfield-new-category input {
    width: 100%;
    font-size: var(--font-size-large);
    border: none;
}

.input-container input:focus,
.inputfield-new-category input:focus {
    outline: none;
}

.add-task-title {
    font-size: var(--font-size-xxxlarge) !important;
}

.selectorCell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    cursor: pointer;
}

.selectorCell:hover {
    background-color: var(--color-blue-light);
}

.add-task-form h4 {
    margin: 0 0 8px;
    font-size: var(--font-size-large);
    color: #42526E;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./../assets/img/date.png) center no-repeat;
    background-size: 28px;
    cursor: pointer;
}

.add-task-due-date {
    color: #d1d1d1;
    cursor: pointer;
}

.alert {
    color: red;
    text-align: center;
}

.priority-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.priority-urgent,
.priority-medium,
.priority-low {
    height: 51px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
    cursor: pointer;
}

.priority-urgent:hover {
    border-bottom: 2px solid #FF3D00;
}

.priority-medium:hover {
    border-bottom: 2px solid #FFA800;
}

.priority-low:hover {
    border-bottom: 2px solid #7AE229;
}

.prio-urgent-selected {
    background-color: #FF3D00;
    color: white;
}

.prio-medium-selected {
    background-color: #FFA800;
    color: white;
}

.prio-low-selected {
    background-color: #7AE229;
    color: white;
}

.add-description {
    width: 100%;
    height: 150px;
    margin-bottom: 24px;
    padding: 16px 24px;
    border: 1px solid #d1d1d1;
    border-radius: 0px 10px 10px 10px;
    font-size: var(--font-size-large);
    font-family: inherit;
    outline: none;
    resize: vertical;
    overflow: hidden;
}

.inputfield-new-user {
    display: flex;
    border-bottom: 1px solid #D1D1D1;
    width: 100%;
    padding: 10px 0px;
    padding-top: 0;
}

.chosen-color {
    position: relative;
    bottom: 53px;
    left: -20px;
}

.checkAndCrossIconsCategory {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.selected {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-added-to-board {
    z-index: 96;
    translate: -50%;
}

.detail {
    height: 80vh;
    width: 620px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-radius: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    overflow: auto;
}


.detail::-webkit-scrollbar {
    display: none;
}

.detail-category {
    width: 200px;
}

.detail h2 {
    margin: 8px 0 32px;
    font-size: var(--font-size-xxxlarge);
}

.detail-text {
    margin-bottom: 24px;
    color: black;
}

.detail-entry {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
    font-size: var(--font-size-large);
}

.detail-entry h4 {
    margin: 0;
}

.detail-assigned {
    margin-bottom: 24px;
    font-size: var(--font-size-large);
}

.detail-assigned h4 {
    margin: 0 0 16px;
}

.detail-assigned div {
    font-size: var(--font-size-regular);
}

.detail-contact {
    display: flex;
    align-items: center;
    margin: 8px;
    gap: 20px;
}

.edit-contact-list {
    margin-bottom: 24px;
}

.detail-subTasks {
    display: flex;
    flex-direction: column;
}

.detail-subTasks h4 {
    margin: 0 0 8px;
    font-size: var(--font-size-large);
}

.crossed-out {
    text-decoration: line-through;
}

.detail form {
    width: 412px;
}

.detail form h4 {
    margin: 0 0 8px;
    font-size: var(--font-size-large);
    color: #42526E;
}

.task-edit-btns {
    position: absolute;
    bottom: 32px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.edit-button {
    position: absolute;
    bottom: 24px;
    right: 41px;
}

.trash-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 61px;
}

.trash {
    width: 25px;
    height: 25px;
}

.ok {
    width: 86px;
    height: 61px;
    font-size: var(--font-size-xxlarge);
}

@media (max-width: 1440px) {
    .main-content {
        padding: 64px 32px 24px;
    }
}

@media (max-width: 1140px) {
    .kanban-board {
        flex-wrap: wrap;
    }

    .drag-area-Container {
        width: calc(50% - 15px);
        margin-bottom: 32px;
    }

    .drag-area-top-Section {
        position: unset;
    }
}

@media (max-width: 992px) {

    .main-content {
        padding: 64px 16px 24px;
    }
}

@media (max-width: 768px) {
    .detail {
        width: 80vw;
    }

    .detail form {
        width: 100%;
    }

    .task-edit-btns {
        position: initial;
        flex-direction: row;
        margin-top: 32px;
    }

    .task-menu-edit {
        padding: 0 0 8px 0;
    }

    .task-menu-move-entry {
        margin: 4px 0;
        padding: 4px 0;
    }
}

@media (max-width: 576px) {
    .main-content {
        padding: 25px 16px 16px;
    }

    .kanban-board {
        height: 100%;
        margin: 16px 0;
    }

    .drag-area-top-Section {
        margin-bottom: 16px;
    }

    .drag-area-Container {
        width: 100%;
    }

    .detail {
        width: 90vw;
        padding: 32px 32px;
    }

    .add-task-container {
        width: 100%;
        align-items: center;
        padding: 32px;
        border-radius: 0;
    }

    .add-task-container form {
        margin-right: 5px;
    }

    .add-task-headline {
        flex-direction: column-reverse;
        gap: 8px;
        margin-top: 16px;
    }

    .add-task-headline button {
        width: 144px;
    }
}

@media (max-width: 456px) {
    .add-task-container {
        padding: 24px;
    }

    .search-bar {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 16px;
    }

    .priority-container {
        flex-direction: column;
        align-items: center;
    }

    .priority-urgent,
    .priority-medium {
        width: 120px;
        margin-bottom: 6px;
    }

    .priority-low {
        width: 120px;
        margin-bottom: 12px;
    }

    .task-added-to-board {
        width: 288px;
        object-fit: cover;
    }
}