.relative {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 96;
}

/* mainside */
.contact-main {
    width: 430px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.contact-bar {
    height: calc(100vh - 124px);
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    padding: 24px 48px;
}

.index-container {
    width: 100%;
}

.index-letter {
    margin: 0 0 16px;
    padding: 24px 32px;
    font-size: var(--font-size-large);
    border-bottom: var(--border);
}

.contact {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 16px 24px;
}

.contact:hover {
    background-color: #D2E3FF;
    color: black;
    border-radius: 16px;
    cursor: pointer;
}

.contact-active {
    background-color: #4589ff;
    color: #ffffff;
    border-radius: 16px;
}

.contact-initials {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 100%;
    color: #ffffff;
}

.contact-data {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: var(--font-size-large);
}

.contact-email {
    width: 181px;
    font-size: var(--font-size-regular);
}

.contact-right-side {
    min-width: 480px;
    width: 100%;
    max-width: 700px;
    padding: 48px 32px 24px 64px;
}

.show-contact {
    height: calc(100vh - 172px);
}

.back {
    display: flex;
    justify-content: flex-end;
}

.contact-detail-head {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.contact-detail-big-letter {
    height: 120px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: 100%;
    font-size: var(--font-size-xxxlarge);
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.contact-detail-name {
    display: flex;
    flex-direction: column;
}

.contact-detail-big-name {
    font-size: var(--font-size-xxxlarge);
}

.contact-detail-add-task,
.contact-detail-edit {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.contact-detail-add {
    color: #005DFF;
}


.contact-detail-info-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.contact-detail-info {
    font: bold var(--font-size-xxlarge) 'Open Sans', sans-serif;
}

.contact-details-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.contact-details {
    margin: 0 0 8px;
}

.show-button {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.new-contact-button-img {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

/* add contact */
.add-contact {
    width: 580px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

.add-contact-head {
    background-color: #4589ff;
    padding-bottom: 70px;
    border-radius: 0px 30px 0px 0px;
}

.add-contact-close {
    display: flex;
    justify-content: flex-end;
}

.img-close {
    margin: 24px;
    cursor: pointer;
}

.add-contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-contact-h {
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

.add-contact-text {
    font-weight: 400;
    font-size: 27px;
    color: #ffffff;
}

.add-contact-main {
    width: 580px;
    background-color: #ffffff;
    border-radius: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

#contactNumber::-webkit-outer-spin-button,
#contactNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact-member {
    width: 130px;
    height: 130px;
    background-color: #D1D1D1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    gap: 32px;
    margin: 30px 0;
}

.icon-edit-contact {
    width: 20px;
}

.input-contact {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #D1D1D1;
}

.input-add-contact-container {
    width: 100%;
}

.input-contact-name {
    width: 90%;
    height: 50px;
    border: 0;
    font-size: 19px;
    font-weight: 400;
    outline: none;
}

.new-contact-button:hover {
    cursor: pointer;
    background-color: #005DFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.contact-detail-edit:hover {
    cursor: pointer;
}



.popup-contact-create {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-email-done {
    font-size: small;
    color: red;
}

@media (max-width: 1140px) {
    .contact-right-side {
        display: none;
    }

    .new-contact-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    .contact-main {
        width: 100vw;
    }

    #contact-detail-in-main {
        position: absolute;
        top: 8px;
        left: 32px;
        right: 32px;
        background-color: #ffffff;
        z-index: 96;
        padding-top: 32px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .contact-bar {
        padding: 95px 50px 25px;
    }

    .index-container {
        width: 380px;
    }

    .show-button {
        top: 132px;
        right: 48px;
        bottom: unset;
    }
}

@media(max-width: 768px) {
    .contact-bar {
        height: calc(100vh - 150px);
        width: 100%;
        align-items: center;
        overflow-y: scroll;
        flex-direction: column;
    }

    .display {
        flex-direction: column-reverse;
    }

    .contact-main {
        height: calc(100vh - 125px);
        overflow: hidden;
    }

    .add-contact {
        width: 100vw;
        border-radius: 0;
    }

    .add-contact-head {
        width: 100vw;
        border-radius: 0;
        padding: 0 16px 70px;
        text-align: center;
    }

    .add-contact-main {
        width: 100vw;
        border-radius: 0;
        overflow-y: auto;
    }

    #contact-detail-in-main {
        top: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding: 32px 32px;
    }

    .contact-detail-main-side {
        width: 100%;
    }

    .contact-detail-head {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contact-detail-big-letter {
        min-height: 120px;
        margin: 0;
    }

    .contact-detail-name {
        align-items: center;
        margin: 0;
    }

    .contact-detail-big-name {
        display: flex;
        text-align: center;
    }

    .index-container {
        width: 70%;
    }

    .contact-detail-edit {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .contact-main {
        min-width: 288px;
    }

    .contact-bar {
        padding: 95px 16px 25px;
    }

    .index-container {
        max-width: 380px
    }
}

@media (max-width: 456px) {
    .index-container {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-cancel {
        width: 210px;
        gap: 16px;
        justify-content: center;
    }
}