:root {
    --font-size-regular: 16px;
    --font-size-large: 20px;
    --font-size-xxlarge: 24px;
    --font-size-xxxlaarge: 48px;
    --font-size-xxllarge: 32px;
    --font-size-xxxllarge: 40px;
    --font-size-xxxlarge: 64px;

    --color-blue-main: #4589ff;
    --color-blue-main-hover: #005dff;
    --color-blue-light: #d2e3ff;

    --border: 1px solid rgba(0, 0, 0, 0.15);
}