<div id="sidebar-navigation" class="sidebar-navigation">
    <a href="./summary.html" class="nav-link">
        <img src="assets/img/nav-summary.png" alt="">
        Summary
        <!-- <p>Summary</p> -->
    </a>

    <a href="./board.html" class="nav-link">
        <img src="assets/img/nav-board.png" alt="">
        Board
    </a>

    <a href="./add-task.html" class="nav-link">
        <img src="assets/img/nav-add-task.png" alt="">
        Add Task
    </a>

    <a href="./contacts.html" class="nav-link">
        <img src="assets/img/nav-contacts.png" alt="">
        Contacts
    </a>
</div>

<a href="./impress.html" class="nav-link legal-notice">
    <img src="assets/img/nav-impress.png" alt="">
    Legal notice
</a>